<!--LOGIN PAGE-->

<% provide(:title, "Log in") %>
<%= render 'layouts/header' %>

<h1>Welcome back!</h1>

<!--picture-->
<div align="center" id="loginpic">
  <h4>Login page</h4>
  <img src="http://cdn.paper4pc.com/images/dogs-smiling-funny-animals-wallpaper-1.jpg" />
</div>

<!--content-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

	  <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <div id="loginbuttondiv">
      <%= f.submit "Log in", class: "btn btn-primary login" %>
    </div>
    <% end %>

    <!--<p>New user? <%= link_to "Sign up now!", signup_path %></p>!-->
  </div>
</div>

<!--back button-->
<div class="petbook_link">
<%= link_to 'Back', welcome_index_path, class:"btn" %>
</div>

<%= render 'layouts/footer' %>
