<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="row">
        <div id="headerleftwrap", class="col-xs-10 col-md-6">
          <%= link_to image_tag("logo_dark_high.png", size: "100x60", alt: "PETBOOK"), welcome_index_path, id:"logo"%>

          <!-- HTML for SEARCH BAR -->
          <div class="searchwrap">
            <form class="search-form" name="search" action="/users" method="get">
              <input class="search-bar" name="searchbar" type="text" placeholder="Search...">
              <input class="searchbutton" name="Search" type="submit" value="">
            </form>
          </div>

        </div>

        <div id="headerrightwrap" class="col-xs-2 col-md-6">
          <ul class="nav navbar-nav navbar-right">
            <li id="navtext"><%= link_to "Home", home_url %></li>
            <li id="navtext"><%= link_to "Explore", explore_url %></li>

            <% if logged_in? %>
            <li id="navtext"><%= link_to "Notifications", news_url %></li>
            <li id="navtext"><%= link_to "My Profile", current_user %></li>
            <li id="navtext">
              <%= link_to "Log out", logout_path, method:"delete"%>
            </li>
            <!--
            <li class = "dropdown", id="navtext">
              <a href="#" class = "dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret", id="navtext"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "User Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method:"delete"%>
                </li>
              </ul>
            </li>
          -->
            <% else %>
            <li id="navtext"><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>


<!--FOR SMALLER DEVICES-->

            <% if logged_in? %>
            <div class="navbar-narrow">
              <img id="menupic" align="right" src="http://alexandstein.com/resources/images/icons/hamburger.png"</>
              <div class="navbar-narrow-content">
              <div id="navtext"><%= link_to "Home", home_url %></div>
              <div id="navtext"><%= link_to "Explore", explore_url %></div>
              <div id="navtext"><%= link_to "Notifications", news_url %></div>
              <div id="navtext"><%= link_to "My Profile", current_user %></div>
              <div id="navtext">
                <%= link_to "Log out", logout_path, method:"delete"%>
              </div>
              </div>
            </div>
            <% else %>
            <div class="navbar-narrow">
              <img id="menupic" align="right" src="http://alexandstein.com/resources/images/icons/hamburger.png"</>
              <div class="navbar-narrow-content">
                <div id="navtext"><%= link_to "Home", welcome_index_path %></div>
                <div id="navtext"><%= link_to "Explore", explore_url %></div>
                <div id="navtext"><%= link_to "Log in", login_path %></div>
            </div>
            </div>
            <% end %>

        </div>
      </div>
    </nav>
  </div>
</header>
